<ion-header>
  <ion-toolbar color="primary">
    <ion-button slot="start">
      <ion-back-button defaultHref="/reminders">
      </ion-back-button>
    </ion-button>
    <ion-title>Reminder</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{ loadedReminder?.title }}</ion-card-title>
      <ion-card-subtitle>priority: <b>{{ loadedReminder?.priority }}</b></ion-card-subtitle>
      <ion-card-subtitle><i>{{ loadedReminder?.createdTime }}</i></ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      {{ loadedReminder?.desc }}
      <ion-button expand="block" (click)="onDeleteReminder()" *ngIf="!loadedReminder?.status">Mark as done</ion-button>
    </ion-card-content>
  </ion-card>
  
</ion-content>
